/* src/components/Achievements/NotificationManager.module.css */

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-bottom: 30px;
}

.container > * {
  pointer-events: all;
}