.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 1rem;
  width: 80px; 
}

.link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 48px;   
  height: 48px;
  margin-bottom: 0.3rem;
  background: url("https://cdn-icons-png.flaticon.com/512/716/716784.png") 
              no-repeat center center;
  background-size: contain; 
}

.label {
  font-size: 12px; 
  text-align: center;
  word-wrap: break-word;
  max-width: 80px;
}
