.folder {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  width: 80px;
}

.link {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.icon {
  background: url("https://cdn-icons-png.flaticon.com/512/716/716784.png") no-repeat center center;
  background-size: contain;
  height: 48px;
  margin-bottom: 0.3rem;
  width: 48px;
}

.label {
  font-size: 12px;
  max-width: 80px;
  text-align: center;
  word-wrap: break-word;
}