
.aboutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainContent {
  background-color: var(--bg-primary);
  display: flex;
  flex: 1;
}

@media (max-width: 1000px) {
  .mainContent {
    flex-direction: column;
  }
}
