.background {
  width: 100%;
  height: 100vh;
  background-image: url('/bg-desktop.webp');
  background-size: cover;
  background-position: center;
  position: relative;
  max-width: 1550px;
  margin: 0 auto;
}

.folders {
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: auto;
}
