.background {
  background-image: url('../assets/background/bg-desktop.webp');
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
  max-width: 1550px;
  position: relative;
  width: 100%;
}

.folders {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  left: 0.5rem;
  position: absolute;
  top: 1.5rem;
  width: auto;
}