.container {
    align-items: center;
    border-right: 1px solid var(--border-header);
    display: flex;
    margin-left: 5px;
    position: relative;
    width: 115px;
}

.button {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px;
    transition: all 0.2s ease;
    width: 100%;
}

.button:hover {
    background-color: var(--hover-bg);
}

.icon {
    height: 28px;
    object-fit: contain;
    width: 28px;
}

@media (max-width: 1000px) {
    .container {
        border-right: 1px solid var(--border-header);
        margin-left: 4px;
        width: 105px;
    }

    .button {
        padding: 9px;
    }

    .icon {
        height: 24px;
        width: 24px;
    }
}

@media (max-width: 500px) {
    .container {
        border-right: 1px solid var(--border-header);
        margin-left: 3px;
        width: 95px;
    }

    .button {
        padding: 8px;
    }

    .icon {
        height: 24px;
        width: 24px;
    }
}