* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Principal Container */
#root {
  margin: 0 auto;
  max-width: 1550px;
  position: relative;
  width: 100%;
}

body {
  overflow-x: hidden;
}