* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Contenedor principal centrado */
#root {
  max-width: 1550px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

body {
  overflow-x: hidden;
}