.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  border-right: 1px solid gray;
  margin-left: 5px;
  width: 115px;
}

.dropdownToggle {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dropdownToggle:hover {
  background-color: #e5e5e5;
  width: 100%;
}

.icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 220px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.dropdownItem {
  padding: 8px 12px;
  font-size: 13px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f5f9ff;
}


.chevron {
  width: 14px;
  height: 14px;
  margin-left: 4px;
  transition: transform 0.2s ease;
  stroke-width: 2;
}

/* Rotación cuando el menú está abierto */
.rotate {
  transform: rotate(180deg);
}
