/* src/components/Desktop/Desktop.module.css */
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  max-width: 1550px;
  margin: 0 auto;
  overflow: hidden;
  /* Ya no necesitamos background-image */
}